.availTitle {
  text-align: center;          /* Center the text */
  margin: 5px 0;              /* Space above and below */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Modern font */
  font-style: bold;
  color: #222222FF;                 /* Dark gray text */
  font-size: 25px;
}

.availability-list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 5px;
}

.availability-card {
  background: #b9b9b9;
  border-radius: 35px;
  padding: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  margin: 10px;

  cursor: pointer;
}

.accepted-card {
  background: #25e81e;
  border-radius: 35px;
  padding: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  margin: 10px;

  cursor: pointer;
}

.rejected-card {
  background: #ff2e2e;
  border-radius: 35px;
  padding: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  margin: 10px;

  cursor: pointer;
}


.availability-card:hover,
.accepted-card:hover,
.rejected-card:hover {
  transform: translateY(-6px) scale(1.02);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.25);
}

.NotAvailable {
    background: none;
    color: rgb(255, 56, 56);
    text-align: center;
}