#mapFooter {
  margin-top: 3rem;
  padding: 1rem;
  background: #ffffff;
  color: #101010;
  border-radius: 8px;
  text-align: center;
}

#eventsMap {
  height: 400px;
  width: 100%;
  border-radius: 40px;
}
